@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absY {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

@mixin absX {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absStart {
    position: absolute;
    top: 0;
    left: 0;
}