$celeste: #199BDB;
$celeste-100: #1374A4;
$rojo: #EB432C;
$verde: #58D68D;
$verde-100: #73C6B6;
$amarillo: #F1C40F;
$gris: #EBEDEF;
$gris-100: #D6DBDF;
$gris-200: #AEB6BF ;
$gris-300: #566573;
$white: #fff;
$black: #000;

$verde-28julio: #008557;
$celeste-mmxxBarranco: #4084C5;

$negro: #000;
$blanco: #fff;
$naranja_marron: #C47800;